body {
    font-family: 'Inter', sans-serif;
}
.nav-link.active {
    color: blue!important;
}

.error {
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 500;
    color: red;
}

u:hover {
    cursor: pointer;
}

.mat-hover:hover {
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}


.draggable.dragging {
    opacity: 50%;
}

.no-drop {
    opacity: 75%;
    padding: 6px 12px 6px 12px;
}