{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row text-center p-3">
    <h3>Home</h3>
</div>

<div class="row">
    <!--Start of first card-->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card Title A</h5>
                <p class="card-text">Example of text on a card</p>
            </div>
        </div>
    </div>
    <!--End of first card-->
    <!--Start of second card-->
   <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card Title B</h5>
                <p class="card-text">Example of text on a card</p>
            </div>
        </div>
    </div>
    <!--End of second card-->
    <!--Start of third card-->
   <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card Title C</h5>
                <p class="card-text">Example of text on a card</p>
            </div>
        </div>
    </div>
    <!--End of third card-->
</div>

{% endblock %}