{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!-- Start of Page Header-->
<div class="row text-center p-3">
    <h3>Home</h3>
</div>
<!--End of Page Header-->

<!--Start of Cards-->
<div class="row text-center">
    <!--Start of first card-->
    <div class="col-6 col-md-4 col-sm-4 col-xl-4 col-xxl-4 d-flex align-items-center">
        <div class="card h-100 w-100">
            <div class="card-body d-flex align-items-center flex-column">
                <h5 class="card-title">📓 Jokes Written</h5>
                <p class="card-text fs-4 h-100 d-flex align-items-center">42</p>
            </div>
        </div>
    </div>
    <!--End of first card-->

    <!--Start of second card-->
   <div class="col-6 col-md-4 col-sm-4 col-xl-4 col-xxl-4 d-flex">
        <div class="card h-100 w-100">
            <div class="card-body d-flex align-items-center flex-column">
                <h5 class="card-title">🔥 Streak</h5>
                <p class="card-text fs-4 h-100 d-flex align-items-center">3 Days</p>
            </div>
        </div>
    </div>
    <!--End of second card-->

    <!--Start of third card-->
   <div class="col col-md-4 col-sm-4 col-xl-4 col-xxl-4 d-flex">
        <div class="card h-100 w-100">
            <div class="card-body d-flex justify-content-center flex-column">
                <h5 class="card-title">💡 Writing Prompt</h5>
                <p class="card-text" id="prompt-text">{{prompt}}</p>
                <a href="#" class="btn btn-primary btn-sm" id="prompt">New Prompt</a>
            </div>
        </div>
    </div>
    <!--End of third card-->
</div>
<!--End of Cards-->

<!--Start of second row (Recent activity / quick notes)-->
<div class="row mt-3">
    <!--Start of recent activity-->
    <div class="col-8 col-md-8 col-sm-8 col-xl-8 col-xxl-8">
        <div class="card h-100 w-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">🕘 Recent Activity</h5>
                <p class="card-text">Recent activity here</p>
            </div>
        </div>
    </div>
    <!--End of recent activity-->

    <!--Start of quick notes-->
    <div class="col d-flex">
        <div class="card w-100">
            <div class="card-body d-flex justify-content-center flex-column">
                <h5 class="card-title pb-2 text-center">📝 Quick Notes</h5>
                    <textarea class="form-control mb-3" rows="3"></textarea>
                    <a href="#" class="btn btn-primary btn-sm">Save to archive</a>
            </div>
        </div>
    </div>
    <!--End of quick notes-->
</div>
<!--End of second row (Recent activity / quick notes)-->

<!--Start of third row (Funny quotes / top tags / countdown to next gig)-->
<div class="row mt-3">
    <!--Left side-->
    <!--Start of funny quotes-->
    <div class="col-8 col-md-8 col-sm-8 col-xl-8 col-xxl-8">
        <div class="card h-50 w-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">🤣 Daily Eye-Roller</h5>
                <p class="card-text pt-2"><em>{{joke}}</em></p>
            </div>
        </div>
    <!--End of funny quotes-->

    <!--Start of countdown-->
    <div class="card w-100 mt-3 pb-0" style="height: 133px">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">⏳ Countdown</h5>
                <p class="card-text">Next gig in <b>20</b> days</p>
            </div>
        </div>
    </div>
    <!--End of countdown-->
    
    <!--Start of Top tags-->
    <div class="col d-flex">
        <div class="card w-100", style="height: 300px;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title pb-2 text-center">🏷️ Most Used Tags</h5>
                <p class="card-text">Tags listed here</p>
            </div>
        </div>
    </div>
    <!--End of top tags-->
</div>
<!--End of third row (Funny quotes / top tags)-->

{% endblock %}