{% extends "layout.html" %}
{% block title %}Write a Joke!{% endblock %}
{% block body %}

<!-- Start of Page Header-->
<div class="row text-center p-3">
    <h3>Write a New Joke</h3>
</div>

<!--Start of page alert-->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p class="p-0 m-0" id="prompt-text"><u id="prompt">Need help getting started?</u> Generate a writing prompt.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!--End of page alert-->
<!--End of Page Header-->

<!--Start of form-->
<!--Start of top-row of form (title / tag)-->
<!--Start of title-->
<form class="row g-3" method="post">
  <div class="col-md-9">
    <label class="form-label">Title*</label>
    <input type="title" class="form-control" placeholder="Clickbait-worthy title here..." name="title">
    <!--Add flash if error-->
    {% with messages = get_flashed_messages(category_filter=["title"]) %}
        {% if messages %}
            {% for error in messages %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--Flash end-->
  </div>
<!--End of title-->

    <!--Start of tags-->
  <div class="col d-flex flex-column">
    <label class="form-label">Pick a Tag*</label>
    <select class="form-select" aria-label="form-select" name="tag">
        <option disabled selected>Choose...</option>
        {% for tag in tags %}
        <option>{{ tag }}</option>
        {% endfor %}
    </select>
    <!--Add flash if error-->
    {% with messages = get_flashed_messages(category_filter=["tag"]) %}
      {% if messages %}
        {% for error in messages %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!--Flash end-->
  </div>
    <!--End of tags-->
    <!--End of top-row of form (title / tag)-->

    <!--Start of setup-->
    <div class="mb-3">
        <label class="form-label">Setup*</label>
        <textarea class="form-control" rows="3" placeholder="Set the scene or ask the question..." name="setup"></textarea>
      <!--Add flash if error-->
      {% with messages = get_flashed_messages(category_filter=["setup"]) %}
        {% if messages %}
          {% for error in messages %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!--Flash end-->        
    </div>
    <!--End of setup-->
    
    <!--Start of punchline-->
    <div class="mb-3">
        <label class="form-label">Punchline*</label>
        <textarea class="form-control" rows="3" placeholder="Deliver the twist or the laugh..." name="punchline"></textarea>
      <!--Add flash if error-->
      {% with messages = get_flashed_messages(category_filter=["punchline"]) %}
        {% if messages %}
          {% for error in messages %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!--Flash end-->         
    </div>
    <!--End of punchline-->

    <!--Start of bottom row (status / notes)-->
    <!--Start of joke status-->
    <div class="col d-flex flex-column">
        <label class="form-label">Status</label>
        <select class="form-select" aria-label="form-select" name="status">
            <option disabled selected>Choose...</option>
            <option>Draft</option>
            <option>Ready</option>
            <option>Needs Work</option>
        </select>
    </div>
  <!--End of joke status-->

  <!--Start of extra notes-->
    <div class="col">
        <label class="form-label">Any extra notes?</label>
        <textarea class="form-control" rows="1" placeholder="Add here..." name="notes"></textarea>
    </div>
    <!--End of extra notes-->
    <!--End of bottom row (status / notes)-->

    <!--Start of button-->
    <button type="submit" class="btn btn-primary btn-sm mt-5">Submit</button>
    <!--End of button-->
    <!--End of form-->

{% endblock %}