{% extends "layout.html" %}
{% block title %}Set Builder{% endblock %}
{% block head %}
<script src="/static/sets.js"></script>
{% endblock %}
{% block body %}

<!-- Start of Page Header-->
<div class="row text-center p-3">
    <h3>Set Builder</h3>
</div>
<!--End of Page Header-->

<!-- Start of left Container -->
 <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="height: 78vh;">
                <div class="card-body">
                    <p class="fw-bold">Current Sets</p>
                    {% for set in sets %}
                    <p class="premade-sets" data-title="{{ set[1] }}">{{ set[1] }}</p>
                    {% endfor %}
                    <a href="new_set" style="text-decoration: none;">+ Add New Set</a>
                </div>
            </div>
        </div>
        <!-- End of Left Container -->

        <!-- Start of Right Container -->
        <div class="col-8">
            <div class="card" style="height: 78vh;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm">Title</div>
                        {% for set in sets %}
                        <div class="col setTitle"></div>
                        {% endfor %}
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">Description</div>
                        <div class="col set-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Right Container -->

{% endblock %}